.customContainer {
  background-color: rgb(30, 24, 35);
  box-shadow: 3px 3px 10px black;
  padding: 25px 0px;
}


.customCard {
  height: 290px;
  position: relative;
  display: inline-block;
  text-align: center;
}
.img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.img:hover{
  transition: .5s;
  filter: brightness(40%);
}
/* .content {

} */


.title {
  border-bottom: 2px solid rgba(72, 72, 72, 0.203);
  padding-bottom: 8px;
  margin-bottom: 20px;
}

