.customContainer {
  padding: 30px;
  justify-content: center;
  background-color: rgb(10, 10, 10);
  border-radius: 20px;
}

.title {
  border-bottom: 2px solid rgba(72, 72, 72, 0.231);

  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.img {
  width: 100%;
  height: 250px;
  border: 1px solid black;
  border-radius: 20px;
}

.customCard {

  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.customCard:hover  {
  transition: all 0.5s;
  transform: scale(1.1);
}

.content {
  background-color: rgba(0, 0, 0, 0.943);
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  top: -100%;
  left: 0;
  padding: 15px 10px;
  height: 100%; 
  width: 100%;
  color: #fff;
  font-size: 13px;
}

.customCard:hover .content {
  top: 0;
  transition: .3s;
}

/* iconos de redes  */

.iconSocial {
  display:flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li .socialMedia {
  border: 2px solid rgba(206, 23, 66, 0.623);
  padding: 10px 12px;
  margin: 3px;
  border-radius: 50%;
  font-size: 1rem;
  text-decoration: none;
}
ul li .socialMedia i {
  color: rgb(138, 138, 138);
}
ul li .socialMedia:hover{
  transition: .5s;
  border: 2px solid rgb(206, 23, 66);
  box-shadow: 1px 1px 10px rgb(206, 23, 66);
}
ul li .socialMedia:hover i {
  color:rgb(255, 255, 255);
}


