.customNavbar {
  background-color: #111111;
}

.customLink {
  color: rgb(240, 240, 240);
  font-size: 14px;
  font-weight: 400;
}

.logoClass {
  width: 35px;
}

@media (min-width:1020px) {

  .customLink {
    padding: 8px;
    margin-right: 14px;
    margin-left: 14px;
  }

  .customLink:hover {
    transition: .6s;
    color: #D13838;
  }

}