.customNavbar {
  background-color: #070705;
}

.customLink {
  color: rgb(240, 240, 240);
  font-size: 14px;
  font-weight: 400;
}

.logoClass {
  width: 35px;
}

@media (min-width:1020px) {

  .customLink {
    padding: 8px;
    margin-right: 14px;
    margin-left: 14px;
  }

  .customLink:hover {
    border-bottom: 1px solid white;
  }

}