.containerCustom {
  padding-top: 200px;
  padding-bottom: 90px;
  padding-inline: 0px;
}

.divImg {
  margin-bottom: 50px;
}

/* Descripcion */
.descDiv {
  padding-inline: 30px;
  margin-bottom: 50px;
}

.title {
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
}

.desc1 {
  font-size: 15px;
  padding-top: 15px;
}

.desc2 {
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* btn web  */
.btn {
  color: #f1f1f1;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #f1f1f1;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn:hover {
  color: black
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: #f1f1f1;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}

/* btn back */
.button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(38, 38, 38);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  position: absolute;
  left: 30px;
  top: 110px;
}

.svgIcon {
  width: 15px;
  transition-duration: 0.3s;
  transform: rotate(-90deg);
}

.svgIcon path {
  fill: white;
}

.button:hover {
  transform: scale(1.15);
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(27, 27, 27);
  align-items: center;
}


@media (min-width:1000px) {
  .containerCustom {
    padding-inline: 70px;
  }
  
  .descDiv {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 50px;
  }

  .title {
    font-size: 27px;
  }
  
  .desc1 {
    font-size: 17px;
    padding-top: 20px;
  }
  
  .desc2 {
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .linkWeb {
    font-size: 14px;
  }
  
  .button {
    left: 70px;
  }

}
