.containerCustom {
  width: 97%;
  background-color:#1f1f1f;
  padding: 30px;
  border-radius: 10px;

  margin-top: 80px;
}

.title {
  font-size: 18px;
}

.text {
  font-size: 15px;
}


@media (min-width: 1000px) {
  .containerCustom {
    width: 750px;
    padding: 40px;

    margin-top: 200px;
  }

}