* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(235, 235, 235);
  font-family: "Raleway", serif;
}
body {
  background: #070705;
  background-size: cover;
  background-attachment: fixed; /* Opcional, para fijar el fondo */
}
