* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(235, 235, 235);
  font-family: sans-serif
}
body {
  background: linear-gradient(to bottom, rgb(18, 18, 18), rgb(18, 18, 18));
  background-size: cover;
  background-attachment: fixed; /* Opcional, para fijar el fondo */
}
