.sectionAboutMe {
  padding-top: 210px;
  padding-bottom: 190px;
}
.img {
  width: 300px;
  border-radius: 50%;
}
.title1 {
    background: linear-gradient(90deg, rgba(121,9,105,1) 0%, rgba(231,20,38,1) 82%, rgba(255,0,0,0.9327380610447304) 100%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

/* linear-gradient(90deg, rgba(121,9,105,1) 0%, rgba(231,20,38,1) 82%, rgba(255,0,0,0.9327380610447304) 100%) */

/* iconos de redes  */

.iconSocial {
  display:flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li .socialMedia {
  border: 3px solid rgba(206, 23, 66, 0.623);
  padding: 12px 15px;
  margin: 3px;
  border-radius: 50%;
  font-size: 1.4rem;
  text-decoration: none;
}
ul li .socialMedia i {
  color: rgb(230, 230, 230);
}
ul li .socialMedia:hover{
  transition: .5s;
  border: 3px solid rgb(206, 23, 66);
  box-shadow: 1px 1px 10px rgb(206, 23, 66);
}
ul li .socialMedia:hover i {
  color:rgb(255, 255, 255);
}

.font {
  font-size: 18px;
}